.container{
    display: block;
    width: 800px;
    margin: 0 auto;
    margin-left: 400px;
    font-family: 'Roboto', sans-serif;
}

.hoofdtitel{
    font-size: 36px;
    line-height: 36px;
}

.p1{
    font-size: 24px;
    line-height: 32px;
}

.midT{
    font-size: 32px;
    line-height: 32px;
}

.contIng, .contBr{
    margin-bottom: 40px;
}

ul li{
    margin-bottom: 10px;
}

ol li{
    margin-bottom: 20px;
}

.Tip{
    background-color: #def6ed;
    border-radius: 4px;
    margin:40px 0 25px 0;
    padding: 25px;
}

.Tip a{
    font-size: large;
}

nav {
    background-color: #def6ed;
    border-radius: 4px;
    margin:40px 0 25px 0;
    padding: 25px;
}

nav a{
    font-size: large;
    text-decoration: none;
    color: black;
    margin-left: 100px;
    font-family: 'Roboto', sans-serif;
}

nav a:hover{
    transition: 1s;
    border: 5px solid white;
}





